<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-center">
                <h4> Employee Registration</h4>
            </div>
            <div class="card-body ">
                <form (ngSubmit)="submit(formd)" #formd=ngForm s>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text" id="fname">@</span>
                                    <input type="text" class="form-control" placeholder="firstname"
                                        aria-describedby="fname" name="fname" [(ngModel)]="formdata.fname" required>

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text" id="lname">@</span>
                                    <input type="text" class="form-control" placeholder="lastname"
                                        aria-describedby="lname" name="lname" [(ngModel)]="formdata.lname" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <div class="input-group">
                            <span class="input-group-text" id="email">@</span>
                            <input type="email" class="form-control" placeholder="enter your email"
                                aria-describedby="email" name="email" [(ngModel)]="formdata.email" required />

                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <div class="input-group">
                            <span class="input-group-text" id="email">@</span>
                            <input type="email" class="form-control" placeholder="enter your number"
                                aria-describedby="email"  name="mobile" [(ngModel)]="formdata.mobile" required  />

                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <div class="input-group">
                            <span class="input-group-text" id="email">@</span>
                            <!-- <input type="email" class="form-control" placeholder="enter your number" -->
                            <select name="department" id="dept" class="form-control"  [(ngModel)]="formdata.department" required>
                                <option value=""> select</option>
                                <option value="IT">IT</option>
                                <option value="Admin">Admin</option>
                                <option value="BPO">BPO</option>
                                <option value="NON-BPO">Sales</option>
                                <option value="Account">NON-IT</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <div class="input-group">
                            <span class="input-group-text" id="pass">@</span>
                            <input type="password" class="form-control" placeholder="enter your password"
                                aria-describedby="pass" name="password" [(ngModel)]="formdata.password" required />

                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <div class="input-group">
                            <span class="input-group-text" id="cpass">@</span>
                            <input type="password" class="form-control" placeholder="enter your  confirm password"
                                aria-describedby="cpass" name="confirmpassword" [(ngModel)]="formdata.confirmpassword" required />
                        </div>
                    </div>
 
                    <div class="form-group pt-3">
                        <textarea class="form-control" name="address" [(ngModel)]="formdata.address"  placeholder="address"></textarea>
                    </div>
                    <div class="form-group pt-3">
                        <input type="submit" value="submit" class="btn btn-success">
                    </div>
               <a class="already" href="#" routerLink="/login"><h6>Already register on? login</h6></a>
                    
                </form>
            </div>
        </div>
    </div>
</div>




 